body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
}

.clock {
  text-align: center;
  font-size: 50px;
}
